

body
{
    color:white;
    background-image: url("photos/bg1.jpeg");


}
h3{
    color: rgba(4, 8, 59, 0.795);
    display:block;
    margin-right:auto;
    width: 50%;
    background-position:center;
    background-color:silver;
    border: rgb(26, 39, 44);
    border-radius: 5px;
    border-style: solid;
    text-align:center;

  
    letter-spacing: 0px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all .5s ease; 
    cursor: pointer

}
   
h3:hover {


   letter-spacing: 5px; 
    color:rgb(139, 134, 134);

}

  p{
      font-size: 16px;
 

  }
  .specify
  {
      font-size: 16px;
  }
  .greet
  {
      font-family: lobster two,cursive;
  }
  h1,p {
    letter-spacing: 0px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all .5s ease; 
    cursor: pointer
  }
  .greet:hover {
    letter-spacing: 2px; 
  }
  .specify:hover {
    letter-spacing: 2px; 
  }


  .myimg
  {
    border-radius: 10px;
    border:black;
    border-style:solid;
    box-shadow: rgb(24, 2, 83);

  }
  .myimg:hover
  {
    transform: scale(.90); 
    border-radius: 10px;
    border:black;
    border-style:ridge;
    opacity: 0.95;

  }
  .icon
  {
      display:block;
      margin-left:auto;
      margin-right:auto;
      width: 50%;
      background-color: silver;
      padding: 15px;

      align-content: center;
      border-style: solid;
      border-radius: 10px;
  }
  .icon:hover
  {
    background-color:gray;
    border-width: 2px;
    transform: scale(0.9);



  }


